body {
  margin: 0;
  font-family: 'Poppins', 'Arial', sans-serif; /* Elegant font: Poppins */
  font-size: 18px; /* Larger font size: 18px */
  color: #1d2238; /* Vivid dark blue color */
  background-color: #f5f5f5; /* Vivid light gray background */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Fira Code', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
